/* ====================================== */
/* ============= IMPORTS ================ */
/* ====================================== */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

/* ====================================== */
/* ===== GLOBAL RESET & BASE STYLES ===== */
/* ====================================== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    font-family: "Roboto Condensed", sans-serif;
}

html,
body {
    width: 100%;
    height: 100%;
}

body {
    background-color: #f5f5fa;
}

/* ====================================== */
/* ============ TYPOGRAPHY ============== */
/* ====================================== */
.body-title {
    font-size: 0.875rem;
    font-weight: 500;
    letter-spacing: 0.0178571429em;
    color: #000000;
}

/* ====================================== */
/* ============ UTILITIES =============== */
/* ====================================== */
.disabled {
    display: none !important;
}

.active {
    display: flex !important;
}

.disabled-interactive {
    opacity: 0.5;
    pointer-events: none;
}

.preview-active {
    background-color: #f5f5fa;
}

/* ====================================== */
/* ============ LAYOUT ================== */
/* ====================================== */
.page-wrapper {
    width: 100%;
    height: 100%;
}

.main-content {
    display: flex;
    flex-direction: row;
    gap: 8px;
    width: 100%;
    height: 100%;
    padding: 12px;
    background-color: #f5f5fa;
}

.general-content {
    position: relative;
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    background-color: #ffffff;
    border-radius: 12px;
    box-shadow: 0 4px 12px #00000020;
}

.general-content-top {
    width: 100%;
    height: auto;
    border-bottom: 1px solid #00000020;
    z-index: 999;
}

.general-content-bottom {
    position: relative;
    display: flex;
    flex: 1;
    overflow: hidden;
}

.general-content-scrolleable {
    width: 100%;
    height: 100%;
    overflow-y: auto;
}

/* ====================================== */
/* ============ COMPONENTS ============== */
/* ====================================== */

/* ---------- Header ---------- */
.header {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: auto;
    padding: 8px;
    gap: 8px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.header-left {
    display: flex;
    flex: 0 0 auto;
}

.header-right {
    position: relative;
    z-index: 1;
    display: flex;
    flex: 0 0 auto;
}

.header-item {
    display: flex;
    flex-direction: row;
    width: auto;
    height: 100%;
    gap: 8px;
}

.header-button {
    display: flex;
    flex: 0 0 auto;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: transparent;
    border-radius: 8px;
    border: 1px solid #00000020;
    cursor: pointer;
    outline: none;
    user-select: none;
}

.header-button:hover {
    background-color: #f5f5fa;
}

/* ---------- Module & Menu ---------- */
.module-content.module-options {
    position: absolute;
    top: calc(100% + 5px);
    right: 5px;
    z-index: 999;
    height: auto;
}

.overflow-y {
    overflow-x: hidden;
    overflow-y: auto;
    scroll-behavior: smooth;
    scrollbar-color: #00000080 transparent;
    scrollbar-width: thin;
    overscroll-behavior: none;
    -webkit-overflow-scrolling: touch;
}

.module-options .menu-content {
    display: none;
    /* Oculto por defecto */
    flex-direction: column;
    width: 320px;
    max-height: 450px;
    color: #000000;
    background-color: #ffffff;
    border: 1px solid transparent;
    border-radius: 12px;
    box-shadow: 0 4px 12px #00000020;
    will-change: transform, opacity;
}

.menu-content-header {
    flex-shrink: 0;
    padding: 8px;
    border-bottom: 1px solid #00000020;
}

.menu-content-list {
    flex: 1;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 4px;
    flex-grow: 1;
    min-height: 0;
    padding: 8px;
}

.menu-content-header+.menu-content-list {
    padding-top: 0;
    margin-top: 8px;
}

.menu-list {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    gap: 4px;
    user-select: none;
}

.menu-link {
    display: flex;
    flex: 0 0 auto;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 40px;
    color: #000000;
    position: relative;
    border-radius: 8px;
    cursor: pointer;
}

.menu-link:hover {
    background-color: #f5f5fa;
}

.menu-link.active {
    background-color: #e8e8f0;
}

.menu-link-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0 0 auto;
    width: 45px;
    height: 100%;
}

/* Corrección para Elipsis */
.menu-link-text {
    flex: 1 1 auto;
    min-width: 0;
    /* Permite que el contenedor se encoja */
    overflow: hidden;
    text-align: start;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.menu-link-text>span {
    white-space: nowrap;
}

.menu-link-value {
    margin-left: 4px;
    /* Pequeño espacio entre la etiqueta y el valor */
    color: #6c757d;
    /* Un color ligeramente diferente para el valor */
    font-weight: 400;
}

/* ---------- Loader Spinner ---------- */
.loader {
    border: 2px solid #f0f0f0;
    border-top: 2px solid #6200ea;
    border-radius: 50%;
    width: 18px;
    height: 18px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* ---------- Section Content ---------- */
.section-hero {
    width: 100%;
    position: relative;
    padding: 30px 45px;
    text-align: center;
}

.section-hero h1 {
    font-weight: 600;
    font-size: 42px;
    line-height: 52px;
    color: #33333b;
    text-align: center;
    margin: 0 auto 4px auto;
    max-width: 1100px;
}

.section-hero h2 {
    line-height: 32px;
    font-size: 22px;
    font-weight: 400;
    color: #47474f;
    max-width: 980px;
    margin: auto;
}

/* ---------- Estilos para Búsqueda ---------- */
.search-content {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 40px;
    border-radius: 8px;
    border: 1px solid #00000020;
    flex-shrink: 0;
}

.search-content-icon {
    display: flex;
    flex: 0 0 auto;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 100%;
}

.search-content-text {
    display: flex;
    flex: 1 1 auto;
    justify-content: flex-start;
    align-items: center;
}

.search-content-text input {
    width: 100%;
    height: 100%;
    padding-right: 15px;
    border: none;
    outline: none;
    background-color: transparent;
    font-size: 0.875rem;
    font-family: "Roboto Condensed", sans-serif;
    color: #000000;
}

.pill-container {
    display: none;
    justify-content: center;
    width: 100%;
    padding: 8px 0;
}

.drag-handle {
    position: relative;
    display: flex;
    width: 52px;
    height: 4px;
    background-color: #f5f5fa;
    border-radius: 50px;
    cursor: pointer;
}

@media (max-width: 468px) {
    .pill-container {
        display: flex;
    }

    .module-content.module-options {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 999;
        justify-content: center;
        align-items: flex-end;
        width: 100%;
        height: 100%;
        background-color: #00000080;
    }

    .module-options .menu-content {
        padding-top: 0;
        border-bottom: 0;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        max-height: 70vh;
        width: 100%;
        /* --- MODIFICACIÓN PARA ANIMACIÓN --- */
        transition: transform 0.3s ease-out;
    }

    /* --- NUEVA CLASE PARA ANIMACIÓN DE APERTURA --- */
    .module-options .menu-content.menu-initial-state {
        transform: translateY(100%);
    }
}

/* ====================================== */
/* ============ MEDIA QUERIES =========== */
/* ====================================== */
@media (max-width: 991.98px) {
    .section-hero h2 {
        font-size: 20px;
        line-height: 28px;
    }
}

@media (max-width: 90em) {
    .section-hero h2 {
        margin-bottom: 12px;
    }
}

@media (max-width: 767.98px) {
    .section-hero h1 {
        font-size: 24px;
        line-height: 34px;
    }

    .section-hero h2 {
        font-size: 16px;
        line-height: 20px;
    }
}